
:root {
  --backgroundCol: RGB(35, 35, 50);
  --barCol: #d56f2c;
  
  --headerSize: 20%;
  --footerSize: 18%;
  font-size: 2vmin;
  
  --youtubeWidth: 30%;
  --youtubeHeight: 25%;
}

#container {
	min-height:100%;
	width: 100%;
	position:relative;
}

#header {
	position: relative;
	text-align: center;
	background-image: url("Images/HeaderBackground.PNG");
	background-position: center;
	background-size: cover;
	/*padding:2px;*/
	/*width:100%;*/
	right: 0;
	left: 0;
	top: 0;
	height: var(--headerSize);
	border: 3px solid black;
}



#main {
	position: relative;
	top: var(--headerSize);
	/* bottom: var(--footerSize); */
	right: 0;
	left: 0;
   /* padding:2px; */
   /* padding-bottom:var(--footerSize);   /* Height of the footer */ */
}

#footer {
	position: relative;
	text-align: center;	
	background-image: url("Images/FooterBackground.PNG");
	background-position: center;
	background-size: cover;
	bottom:0;
	right: 0;
	left: 0;
	height:var(--footerSize);   /* Height of the footer */
	border: 3px solid black;
}

/* Line style */
hr  
{  
width: 95%;  
height: 6px;  
background-color: green;  
margin-bottom: 7px;  
margin-right: auto;  
margin-left: auto;  
margin-top: 9px;  
border-width: 1px;  
border-color: black;  
}

/* Link style */
a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}


/* Button style */
.button {
  border: 3px solid black;
  color: white;
  background-color: RGB(100, 100, 100);
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: auto;
  transition-duration: 0.2s;
  height: 8vmin;
  cursor: pointer;
  padding: 5px;
}

.button:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}

/* Block, smaller on the width. */
.compactBlock {
	position: relative;
	background-color: transparent;
	text-align: left;
	margin-right: 20%;  
	margin-left: 20%; 
	color: white;
	border: 2px solid black;
	padding: 4vmin;
	font-size: auto;
}

.compactBlock2 {
	position: relative;
	background-color: transparent;
	text-align: center;
	margin-right: 5%;  
	margin-left: 5%; 
	color: white;
	border: 2px transparent;
	padding: 8vmin;
	font-size: auto;
}

.text {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}