
:root {
  --backgroundCol: RGB(35, 35, 50);
  --barCol: RGB(65, 65, 90);
  
  --headerSize: 13%;
  --footerSize: 11%;
  font-size: 2vmin;
  
  --youtubeWidth: 30%;
  --youtubeHeight: 25%;
}

body {
	background-color: var(--backgroundCol);
	background-image: url("Piratemap01.PNG");
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: cover; /* Resize the background image to cover the entire container */
	text-align: center;
	color: RGB(220, 220, 220);
	font-family: Courier, Serif, Arial, Helvetica, sans-serif;
	height: 100%;
	width: 100%;
}

#container {
	min-height:100%;
	width: 100%
	position:relative;
}

#header {
	text-align: center;
	background:var(--barCol);
	padding:2px;
	width:100%;
	top: 0;
	height: var(--headerSize);
}

#body {
   padding:2px;
   padding-bottom:var(--footerSize);   /* Height of the footer */
}

#footer {
	text-align: center;
	position:absolute;
	bottom:0;
	width:100%;
	height:var(--footerSize);   /* Height of the footer */
	background: var(--barCol);
}

/* Line style */
hr  
{  
width: 95%;  
height: 6px;  
background-color: green;  
margin-bottom: 7px;  
margin-right: auto;  
margin-left: auto;  
margin-top: 9px;  
border-width: 1px;  
border-color: black;  
}

/* Link style */
a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}


/* Button style */
.button {
  border: none;
  color: white;
  background-color: RGB(100, 100, 100);
  padding: 8px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: auto;
  margin: 1px 2px;
  transition-duration: 0.2s;
  cursor: pointer;
}

.button:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}

/* Block, smaller on the width. */
.compactBlock {
	position: relative;
	background-color: transparent;
	text-align: left;
	margin-right: 25%;  
	margin-left: 25%; 
	color: white;
	border: 2px solid black;
	padding: 4vmin;
	font-size: auto;
}

.compactBlock2 {
	position: relative;
	background-color: transparent;
	text-align: center;
	margin-right: 5%;  
	margin-left: 5%; 
	color: white;
	border: 2px transparent;
	padding: 8vmin;
	font-size: auto;
}

.text {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}